@model List<LibreriaPapeleriaApp.Models.Orden>

@{
    ViewData["Title"] = "Ordenes";
}

<h1>Ordenes</h1>

<table class="table">
    <thead>
        <tr>
            <th>Orden ID</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>Usuario ID</th>
            <th>Detalles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var orden in Model)
        {
            <tr>
                <td>@orden.OrdenId</td>
                <td>@orden.Fecha.ToShortDateString()</td>
                <td>@orden.Total.ToString("C")</td>
                <td>@orden.UsuarioId</td>
                <td>
                    <ul>
                        @foreach (var detalle in orden.DetallesOrden)
                        {
                            <li>@detalle.ProductoId - Cantidad: @detalle.Cantidad - Precio Unitario: @detalle.PrecioUnitario.ToString("C")</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>
