@page
@model LibreriaPapeleriaApp.Pages.Usuarios.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="./Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nombre de Usuario</th>
            <th>Correo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Usuarios)
        {
            <tr>
                <td>@item.NombreUsuario</td>
                <td>@item.Correo</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.UsuarioId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.UsuarioId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.UsuarioId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
